{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark">Add new User</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('user_index') }}">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add User</li>
            </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}

{% block body %}

    <div>
        <a href="{{ path('user_index') }}" class="btn float-right btn-dark btn-sm"><i class="fas fa-arrow-alt-circle-left pr-1"></i>Back to user</a>
    </div>
    <br />
    <br />


    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Add new User</h3>
        </div>

        {{ form_start(form) }}
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
